@model SkinShop.Models.ViewModels.MainVM

@Styles.Render("~/Content/SkinShopCSS/Main.css")

<div class="main">
    <div class="introduction">
        <div class="logotext gradient-text">
            Geek Cloud
        </div>
        <div class="picture cs revealator-slideright revealator-delay1">
            <div class="contain1">
                <p>Не знаешь где купить скины по выгодным ценам?</p>
                <p>Постоянно в поисках нормального сайта?</p>
            </div>
        </div>
        <div class="picture dota revealator-slideleft revealator-delay1">
            <div class="contain2">
                А когда находишь нужный, после долгих поисков, то оказывается нет того скина, который ты так давно хотел?
            </div>
        </div>
        <div class="picture knifes revealator-slideright revealator-delay1">
            <div class="contain1">
                Но вот ты находишь тот самый сайт, на котором ты находишь тот самый скин...
            </div>
        </div>
        <div class="picture fortnite revealator-slideleft revealator-delay1">
            <div class="contain2">
                И уже представляешь как ты хвастаешься своей покупкой перед друзьями...
            </div>
        </div>
        <div class="picture hots revealator-slideright revealator-delay1">
            <div class="contain1">
                Собрался с силами и купил его...
            </div>
        </div>
        <div class="picture pubg revealator-slideleft revealator-delay1">
            <div class="contain2">
                Но спустя пару дней ты понимаешь, что либо скина снова нет в наличии, либо опять возникли проблемы, связанные с персоналом
            </div>
        </div>
        <div class="picture overwatch revealator-slideright revealator-delay1">
            <div class="contain1">
                Тебе уже надоели все эти разборки и выяснения где же твоя покупка?
            </div>
        </div>
        </div>
        <div class="picture csgo revealator-slideleft revealator-delay1">
            <div class="contain2">
                И каждый раз ты думаешь, почему я должен тратить на всё это своё время?..
            </div>
        </div>
        <div class="picture knifescsgo revealator-slideright revealator-delay1">
            <div class="contain1">
                Тогда ты попал по адресу!
            </div>
        </div>
        <div class="prooves">
            <div class="proofblock ak revealator-slideleft revealator-delay1">
                <div class="contain">
                    Большое разнообращие скинов
                </div>
            </div>
            <div class="proofblock aug revealator-slideup revealator-delay1">
                <div class="contain">
                    Постоянные скидки
                </div>
            </div>
            <div class="proofblock awp revealator-slideright revealator-delay1">
                <div class="contain">
                    Быстрое и качественное обслуживание
                </div>
            </div>
            <div class="proofblock knife revealator-slideright revealator-delay1">
                <div class="contain">
                    Скины из множества различных игр
                </div>
            </div>
            <div class="proofblock m4 revealator-slidedown revealator-delay1">
                <div class="contain">
                    Мы не первый год на рынке
                </div>
            </div>
            <div class="proofblock usp revealator-slideleft revealator-delay1">
                <div class="contain">
                    99.9% клиентов остаются довольными
                </div>
            </div>
        </div>
    <div class="caption gradient-text">
        Категории
    </div>
    <div class="games">
        @if (Model != null)
        {
            foreach (var i in Model.Products)
            {
                if (i != null)
                {
                    <div class="gameblock revealator-slidedown">
                        @{
                            string route = "";
                            string name = "";
                            switch (i.Table)
                            {
                                case SkinShop.DL.Entities.SkinShop.Goods.Cloth:
                                    route = "Clothes";
                                    name = "Одежда";
                                    break;
                                case SkinShop.DL.Entities.SkinShop.Goods.Computer:
                                    route = "Computers";
                                    name = "Компьютеры";
                                    break;
                                case SkinShop.DL.Entities.SkinShop.Goods.ComputerComponent:
                                    route = "ComputerComponents";
                                    name = "Компьютерные компоненты";
                                    break;
                                case SkinShop.DL.Entities.SkinShop.Goods.Container:
                                    route = "Containers";
                                    name = "Кейсы";
                                    break;
                                case SkinShop.DL.Entities.SkinShop.Goods.Game:
                                    route = "Games";
                                    name = "Игры";
                                    break;
                                case SkinShop.DL.Entities.SkinShop.Goods.Other:
                                    route = "Others";
                                    name = "Другие товары";
                                    break;
                                case SkinShop.DL.Entities.SkinShop.Goods.Skin:
                                    route = "Index";
                                    name = "Скины";
                                    break;
                            }
                        }
                        <a href="@Url.Action(route, "Home")" class="link">
                            <div class="image">
                                @if (i.Images.FirstOrDefault() != null)
                                {
                                    <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(i.Images.FirstOrDefault().Photo))" alt="@i.Images.FirstOrDefault().Text" class="img-responsive imgcustom">
                                }
                            </div>
                            <div class="category-name">
                                @name
                            </div>
                        </a>
                    </div>
                }
            }
        }
    </div>
</div>