@Styles.Render("~/Content/SkinShopCSS/PageNotFound.css")

<div class="imageblock">
    <img src="~/Content/Images/PageNotFound.jpg" class="img-responsive" />
</div>

<div class="text">
    Если у вас есть какие-либо вопросы можете обратиться в нашу Техподдержку по телефону:
    <div class="phonenumber">
        +88005553535
    </div>
</div>